* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

.header {
  height: 85vh;
  color: #fff;
  padding: 0 15px;
  background-image: linear-gradient(rgba(0 0 0 / 0.4), rgba(0 0 0 / 0.4)),
    url("img/maldives.jpg");
  background-size: cover;
}

.navigation {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.logo img {
  height: auto;
  width: 200px;
  margin-left: -48px;
}
.nav-links {
  width: 350px;
  display: flex;
  align-items: center;
}

.nav-links ul {
  list-style-type: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-right: 15px;
}

.nav-links li {
  font-size: 25px;
}

.hero {
  height: 75vh;
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome {
  width: 30%;
  height: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 75px;
}

.welcome h1 {
  font-size: 48px;
  font-weight: 900;
}

.welcome p {
  font-size: 20px;
  line-height: 30px;
}

.welcome .btn {
  width: 110px;
  height: 45px;
  background-color: #0070ff;
  border: 1px solid #0070ff;
  border-radius: 2px;
  color: #fff;
  font-size: 25px;
  outline: inherit;
  cursor: pointer;
}

.section {
  height: 50vh;
  width: 100%;
}

.destinations {
  display: flex;
  flex-direction: column;
  padding: 25px;
  gap: 35px;
  background-color: #f1f3f5;
}

.destinations h2 {
  font-size: 36px;
  font-weight: 900;
  color: #010f24;
  text-align: center;
}

.trips {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.trip img {
  width: 300px;
  height: auto;
}

.trip p {
  font-size: 18px;
  text-align: center;
  text-wrap: wrap;
}

.motto {
  background-color: yellowgreen;
}

.cta {
  background-color: blueviolet;
}

footer {
  background-color: yellow;
}
